//Define colors of some materialize classes, 
//stuff that isn't in the variables file

//umm so I guess I don't need this now?
// @import "./color-definitions";

//override typography file
html {
    color: $seti-blue;
    // color: #fff;
}
body {
    background-color: $seti-background;
}
nav {
    background-color: $secondary-grey;
    color: $seti-blue;
}

footer.page-footer {
  //override materialize
   padding-top: 0px;
  .footer-copyright {
    color: color("grey", "lighten-1");
    a {
        color: $seti-blue;
    }
    background-color: $secondary-grey;
  }
}

.card {
  .card-title {
    color: $seti-green;
  }
  color: $seti-green;
}
.collection-header,th, .song-title-input {
    color: $seti-green;
}

input[type="range"] {
    color: red;
}