// 
// $primary-color: color("materialize-red", "lighten-2") !default;
// $primary-color-light: false !default;
// $primary-color-dark: false !default;
// @if not $primary-color-light {
//   $primary-color-light: lighten($primary-color, 15%);
// }
// @if not $primary-color-dark {
//   $primary-color-dark: darken($primary-color, 15%);
// }
// $secondary-color: color("teal", "lighten-1") !default;
// $success-color: color("green", "base") !default;
// $error-color: color("red", "base") !default;
// 
// $link-color: color("light-blue", "darken-1") !default;


$seti-blue: rgb(79,153,211);
$seti-green: rgb(159,202,86);
$seti-yellow: rgb(220,205,105);
$seti-red: rgb(206,64,69);
$seti-purple: rgb(160,116,196);
$seti-background: rgb(21,23,24);
$seti-background-lighter: #333;
$seti-text: #aaa;

$seti-text-color-info: $seti-blue;
$seti-text-color-success: $seti-green;
$seti-text-color-warning: $seti-yellow;
$seti-text-color-error: $seti-red;
// 
// @background-color-info: @blue;
// @background-color-success: @green;
// @background-color-warning: @yellow;
// @background-color-error: @red;
// @background-color-highlight: rgba(255,255,255,0.2);
// @background-color-selected: @blue;
// 
// @app-background-color: @background;

body {
    background-color: $seti-background;
}

$seti-blue-array: (
"base": $seti-blue,
);
$seti-green-array: (
"base": $seti-green,
);
$seti-purple-array: (
"base": $seti-purple,
);
$seti-yellow-array: (
"base": $seti-yellow,
);
// #768A9F;

// #8e8c8c
// #4D4F41

$colors: (
  "seti-blue": $seti-blue-array,
  "seti-green": $seti-green-array,
  "seti-purple": $seti-purple-array,
  "seti-yellow": ("base" : $seti-yellow),
);

//lets put the colors in one place instead of adding classes everywhere
//materialize important sadness
// $dark-header :  color("um-blue", "lighten-1");
// $dark-grey:  #4D4F41;
// 
// body {
//   background-color: color("um-blue", "lighten-3");
//  }
//  .collection {
//   border-color: $dark-header;
//  }
// nav, .collection-header {
//   background-color: $dark-header !important;
//   color: color("um-yellow", "base");
// }
// .collection-item{
//   background-color: $dark-grey !important;
//   color: #FFF !important;
// }
// 
// nav a {
//     color: color("um-yellow", "base") !important;
// }

// Color Classes BORROWED FROM MATERIALIZE SCSS

@each $color_name, $color in $colors {
  @each $color_type, $color_value in $color {
    @if $color_type == "base" {
      .#{$color_name} {
        background-color: $color_value !important;
      }
      .#{$color_name}-text {
        color: $color_value !important;
      }
    }
    @else {
      .#{$color_name}.#{$color_type} {
        background-color: $color_value !important;
      }
      .#{$color_name}-text.text-#{$color_type} {
        color: $color_value !important;
      }
    }
  }
}

// usage: color("name_of_color", "type_of_color")
// to avoid to repeating map-get($colors, ...)

@function color($color, $type) {
  @if map-has-key($colors, $color) {
    $curr_color: map-get($colors, $color);
    @if map-has-key($curr_color, $type) {
      @return map-get($curr_color, $type);
    }
  }
  @warn "Unknown `#{name}` in $colors.";
  @return null;
}
