
.hero {
    text-align: center;
    min-height: 100px;
}

.volume-slider {
    max-width:150px;
}
.pan-slider {
    max-width:100px;
}


.volume-group {
  display:inline;
}
.pan-group {
  display: inline;
}

.mute-checkbox + label{
  padding-left:0 !important;
}
.mute-checkbox + label:before, .mute-checkbox + label:after {
  // couldn't get icon to show up
    border:none !important;
    background: none !important;
}

.mute-checkbox:checked + label:before {
  // content:"NO";
  // border:none;
} 