


.hero {
    text-align: center;
    min-height: 100px;
}

$volume-slider-width:150px;
$slider-margin:30px;

.volume-slider {
    max-width: $volume-slider-width;
}

$pan-slider-width:150px;
.pan-slider {
    max-width: $pan-slider-width;
}

.group {
  display:inline-block;
}

.seekbar-wrapper {
  overflow: hidden;
  padding-left: 10px;
}
.seekbar {
  width:100%;
}
.seek-info {
  line-height: 35px;
  float:left;
}
.seek-text-center {
  position:absolute;
    margin-top:-10px;
}
.seek-group {
  // @extend .group;
  padding-left:10px;
}
.volume-group {
  @extend .group;
  min-width: $slider-margin + $volume-slider-width;
  margin-left:10px;
}
.pan-group {
  @extend .group;
  min-width: $slider-margin + $pan-slider-width;
  margin-left: 10px;
}


.mute-checkbox + label{
  padding-left:0 !important;
}
.mute-checkbox + label:before, .mute-checkbox + label:after {
  // couldn't get icon to show up
    border:none !important;
    background: none !important;
}

.mute-checkbox:checked + label {
  // content:"NO";
  // border:none;
  color: color("materialize-red", "base") !important;
} 