/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/*
!/bin/keep_this_directory
/composer.phar
/vendor/
/web/bundles/
/web/upload/*
/node_modules/
