<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Multitrack by kmattimo{% endblock %}</title>
        {% block stylesheets %}	
        <link rel="stylesheet" href="/css/site.css?vers=6">
		    {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
		    <!-- <script src="http://ajax.aspnetcdn.com/ajax/knockout/knockout-3.3.0.js"></script> -->
		    <script src="/js/knockout-3.3.0.js"></script>
	
    </head>
    <body>
<header>
    <nav >
       <div class="nav-wrapper">
         <div class="container">
           <a href="/" class="brand-logo center">multitrack</a>
           <ul id="nav-mobile" class="left">
             <li><a href="/newsong">New Song</a></li>
           </ul>
         </div>
       </div>
     </nav>
</header>
<main>

    <div class="container">

    {% block body %}{% endblock %}
    
    </div>
    
</main>
<footer>
  <footer class="page-footer">
      <div class="footer-copyright">
        <div class="container">
          Built by <a href="//www.kylemattimore.com" target="_blank">Kyle Mattimore</a>
          <span class="hide-on-small-only">- feedback appreciated :) </span>
          <span class="right">
            <span class="hide-on-small-only">
              Multitrack is on 
            </span>
            <a href="https://github.com/kmattimo/multitrack" target="_blank">GitHub</a>
          </span>
        </div>
      </div>
    </footer>
</footer>    
    {% block javascripts %}
		
			
		{% endblock %}
    </body>
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</html>
