<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Multitrack by kmattimo{% endblock %}</title>
        {% block stylesheets %}	
        <link rel="stylesheet" href="/css/site.css?vers=1">
		    {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
		<script src="http://ajax.aspnetcdn.com/ajax/knockout/knockout-3.3.0.js"></script>
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	
    </head>
    <body>

    <nav>
       <div class="nav-wrapper">
         <a href="/" class="brand-logo center">multitrack</a>
         <ul id="nav-mobile" class="left">
           <li><a href="/newsong">New Song</a></li>
         </ul>
       </div>
     </nav>


    <div class="container">

    {% block body %}{% endblock %}
    
    </div>
    {% block javascripts %}
		
			
		{% endblock %}
    </body>
</html>
