{% extends 'base.html.twig' %}

{% block body %}

<!-- <link rel="stylesheet" type="text/css" href="/css/dropzone.css"> -->
<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="https://www.dropbox.com/static/api/2/dropins.js" id="dropboxjs" data-app-key="8lojncu8akfr7ua"></script>

<!-- <script src="/js/dropzone.js"></script> -->
<script src="/js/newsong.js"></script>


<div class="row"> 
	<div class="col s12">
		<h2 class="center seti-green-text"> Create New Song </h2>
			<h5> Song Title:</h5>
			<input class="song-title-input" type="text" data-bind='value:songTitle, valueUpdate: "afterkeydown"' />

			<br><br>

      <table class="striped">
        <thead>
          <tr>
              <th data-field="id">Track Title</th>
              <th data-field="name">URL</th>
							<th data-field="no">Actions</th>
          </tr>
        </thead>
        <tbody data-bind='foreach:queue'>
          <tr>
            <td>     
	          		<input data-bind="value: name, valueUpdate: 'afterkeydown'" placeholder="Track Title"type="text">
						</td>
						<td>     
	          		<input data-bind="value: url, valueUpdate: 'afterkeydown'" placeholder="URL"type="text">
						</td>
						<td> 
							<a href="#" data-bind="click: $parent.removeTrack" title="Delete track"> <i class="material-icons hover-grow dropbox-blue">delete</i></a>
							
							<a href="#" class="dropbox-icon hover-grow" data-bind="click: function() { $parent.dropbox($index()) }" title="Choose from Dropbox"> </a>
						</td>
						
          </tr>
				</tbody>
			</table>

			<br><br>
			
			<button title="Add Track" class="waves-effect waves-light btn" data-bind='click:addTrack'>
				<i class="material-icons">playlist_add</i> Add Track
			</button> 
	
			<button title="Save Song" class="waves-effect waves-light btn" data-bind='enable: isValid()' id="saveSong">
				<i class="material-icons">done</i> Save
			</button>

			<a href="/" title="Cancel" class="waves-effect waves-light btn">
				<i class="material-icons">not_interested</i> Cancel
			</a> 
			

	</div>
</div>
		
{% endblock %}